body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}

button:hover,
button:focus {
  color: #2196f3;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #2196f3;
}

.contacts:hover,
.contacts:focus {
  color: #2196f3;
}

.nav-menu {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  color: #212121;
}

.contacts {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  color: #757575;
}
.projects-filter {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  color: #212121;
}

p {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: #212121;
}

address {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
